USE [master]
GO
/****** Object:  Database [ShopLaptop]    Script Date: 13/06/2022 8:37:44 PM ******/
CREATE DATABASE [ShopLaptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopLaptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShopLaptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopLaptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShopLaptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopLaptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopLaptop]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[ngaysinh] [datetime] NULL,
	[profile] [nvarchar](max) NULL,
	[avatar] [varchar](70) NULL,
	[hoten] [nvarchar](50) NULL,
	[diachi] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[mabinhluan] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[noidung] [ntext] NULL,
	[vote] [int] NULL,
	[ngaybinhluan] [datetime] NULL,
	[matin] [int] NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[mabinhluan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[madon] [int] NOT NULL,
	[malaptop] [int] NOT NULL,
	[soluong] [int] NULL,
	[dongia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[madon] ASC,
	[malaptop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[machude] [int] IDENTITY(1,1) NOT NULL,
	[tenchude] [nvarchar](60) NULL,
	[slug] [varchar](70) NULL,
	[hinh] [varchar](70) NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[machude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[madanhgia] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[noidung] [ntext] NULL,
	[vote] [int] NULL,
	[ngaydanhgia] [datetime] NULL,
	[malaptop] [int] NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[madanhgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[madon] [int] IDENTITY(1,1) NOT NULL,
	[thanhtoan] [bit] NULL,
	[giaohang] [bit] NULL,
	[ngaydat] [datetime] NULL,
	[ngaygiao] [datetime] NULL,
	[makh] [nvarchar](128) NULL,
	[tinhtrang] [char](1) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[madon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hang]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang](
	[mahang] [int] IDENTITY(1,1) NOT NULL,
	[tenhang] [nvarchar](30) NOT NULL,
	[hinh] [varchar](70) NULL,
 CONSTRAINT [PK_Hang] PRIMARY KEY CLUSTERED 
(
	[mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptop]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptop](
	[malaptop] [int] IDENTITY(1,1) NOT NULL,
	[tenlaptop] [nvarchar](100) NOT NULL,
	[giaban] [decimal](18, 0) NULL,
	[mota] [ntext] NULL,
	[hinh] [varchar](70) NULL,
	[mahang] [int] NULL,
	[manhucau] [int] NULL,
	[cpu] [nvarchar](100) NULL,
	[gpu] [nvarchar](100) NULL,
	[ram] [nvarchar](100) NULL,
	[hardware] [nvarchar](100) NULL,
	[manhinh] [nvarchar](100) NULL,
	[ngaycapnhat] [datetime] NULL,
	[soluongton] [int] NULL,
	[pin] [nvarchar](100) NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_Laptop] PRIMARY KEY CLUSTERED 
(
	[malaptop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[malienhe] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](50) NOT NULL,
	[email] [varchar](254) NULL,
	[dienthoai] [varchar](50) NULL,
	[website] [nvarchar](100) NULL,
	[noidung] [ntext] NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[malienhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetaLaptop]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaLaptop](
	[mameta] [int] IDENTITY(1,1) NOT NULL,
	[keymeta] [nvarchar](255) NULL,
	[valuemeta] [nvarchar](255) NULL,
	[malaptop] [int] NULL,
 CONSTRAINT [PK_MetaLaptop] PRIMARY KEY CLUSTERED 
(
	[mameta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhuCau]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhuCau](
	[manhucau] [int] IDENTITY(1,1) NOT NULL,
	[tennhucau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhuCau] PRIMARY KEY CLUSTERED 
(
	[manhucau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuangCao]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuangCao](
	[maqc] [int] IDENTITY(1,1) NOT NULL,
	[tenqc] [nvarchar](255) NOT NULL,
	[tencongty] [nvarchar](200) NOT NULL,
	[hinhnen] [varchar](100) NULL,
	[link] [varchar](100) NULL,
	[ngaybatdau] [smalldatetime] NULL,
	[ngayhethan] [smalldatetime] NULL,
	[trangthai] [bit] NOT NULL,
 CONSTRAINT [PK_QuangCao] PRIMARY KEY CLUSTERED 
(
	[maqc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 13/06/2022 8:37:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[matin] [int] IDENTITY(1,1) NOT NULL,
	[tieude] [nvarchar](255) NOT NULL,
	[hinhnen] [varchar](70) NULL,
	[tomtat] [nvarchar](255) NULL,
	[slug] [nvarchar](100) NOT NULL,
	[noidung] [ntext] NULL,
	[luotxem] [int] NULL,
	[ngaycapnhat] [smalldatetime] NULL,
	[xuatban] [bit] NULL,
	[machude] [int] NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[matin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'STAFF')
GO
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'686428025914420', N'1a9b2e95-5884-42f8-8377-13f04324e60a')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'110387072972289988730', N'20e1561e-87a0-42da-96ed-316ea29b2fc5')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'106477663142574038813', N'38495fce-3136-434d-9d4d-7c8c737b84d8')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7ae6b3a0-039f-47a4-8a60-3073f1b9241a', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'87cc7a1f-163f-4fd1-98e5-2549e567e073', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'20e1561e-87a0-42da-96ed-316ea29b2fc5', N'2')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ngaysinh], [profile], [avatar], [hoten], [diachi]) VALUES (N'0375231e-8e32-4a1d-99ad-03a988dce72a', N'khach01@gmail.com', 0, N'AMk8QA2tsd7UDDFQ4beuVrJLwEDe5gupn8ueLdnzfblWeNg/WRNZf1/N4GHFFn/60g==', N'df52533d-74b9-4880-a616-6f330aa6c525', NULL, 0, 0, NULL, 0, 0, N'khach01@gmail.com', NULL, NULL, N'user-acc.png', N'Nguyễn Khách', N'Q. 5, TP.HCM')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ngaysinh], [profile], [avatar], [hoten], [diachi]) VALUES (N'1a9b2e95-5884-42f8-8377-13f04324e60a', N'paypal36902357@gmail.com', 0, N'AAI9j8JeerjMrUNOaXdoXLAS/axNmxKIGecF2pn6rGKb5cLkjP35MaSblHSnhf1aXA==', N'32d28743-710f-42b1-a8ad-90f08f2cb2a1', N'0365204529', 0, 0, NULL, 1, 0, N'paypal36902357@gmail.com', NULL, NULL, N'user-acc.png', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([mabinhluan], [ten], [noidung], [vote], [ngaybinhluan], [matin], [trangthai]) VALUES (1, N'Admin', N'Test', 5, CAST(N'2022-05-29T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
INSERT [dbo].[ChiTietDonHang] ([madon], [malaptop], [soluong], [dongia]) VALUES (1, 1, 4, CAST(14490000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([madon], [malaptop], [soluong], [dongia]) VALUES (2, 1, 1, CAST(14490000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([madon], [malaptop], [soluong], [dongia]) VALUES (2, 2, 1, CAST(14490000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[ChuDe] ON 

INSERT [dbo].[ChuDe] ([machude], [tenchude], [slug], [hinh]) VALUES (1, N'Laptop', N'laptop', NULL)
INSERT [dbo].[ChuDe] ([machude], [tenchude], [slug], [hinh]) VALUES (2, N'Điện thoại', N'dien-thoai', NULL)
INSERT [dbo].[ChuDe] ([machude], [tenchude], [slug], [hinh]) VALUES (3, N'Windows', N'windows', NULL)
SET IDENTITY_INSERT [dbo].[ChuDe] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([madanhgia], [ten], [noidung], [vote], [ngaydanhgia], [malaptop], [trangthai]) VALUES (1, N'Bot Comment', N'Qúy khách cần liên hệ theo số đt sau: 0365204529', 3, CAST(N'2022-04-17T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[DanhGia] ([madanhgia], [ten], [noidung], [vote], [ngaydanhgia], [malaptop], [trangthai]) VALUES (2, N'Admin', N'Chúc quý khách vạn sự bình an', 3, CAST(N'2022-04-17T13:15:00.000' AS DateTime), 1, 1)
INSERT [dbo].[DanhGia] ([madanhgia], [ten], [noidung], [vote], [ngaydanhgia], [malaptop], [trangthai]) VALUES (3, N'Nguyễn Văn B', N'Sản phẩm tốt', 3, CAST(N'2022-04-25T14:25:24.063' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([madon], [thanhtoan], [giaohang], [ngaydat], [ngaygiao], [makh], [tinhtrang]) VALUES (1, 1, NULL, CAST(N'2022-04-25T14:59:48.000' AS DateTime), CAST(N'2022-04-25T00:00:00.000' AS DateTime), N'20e1561e-87a0-42da-96ed-316ea29b2fc5', N'0')
INSERT [dbo].[DonHang] ([madon], [thanhtoan], [giaohang], [ngaydat], [ngaygiao], [makh], [tinhtrang]) VALUES (2, 0, 0, CAST(N'2022-04-25T15:49:30.000' AS DateTime), CAST(N'2022-04-25T00:00:00.000' AS DateTime), N'20e1561e-87a0-42da-96ed-316ea29b2fc5', N'0')
INSERT [dbo].[DonHang] ([madon], [thanhtoan], [giaohang], [ngaydat], [ngaygiao], [makh], [tinhtrang]) VALUES (3, 0, 0, CAST(N'2022-04-25T16:13:25.117' AS DateTime), CAST(N'2022-04-26T00:00:00.000' AS DateTime), N'38495fce-3136-434d-9d4d-7c8c737b84d8', N'0')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Hang] ON 

INSERT [dbo].[Hang] ([mahang], [tenhang], [hinh]) VALUES (1, N'HP', N'hp.png')
INSERT [dbo].[Hang] ([mahang], [tenhang], [hinh]) VALUES (2, N'DELL', N'dell.png')
INSERT [dbo].[Hang] ([mahang], [tenhang], [hinh]) VALUES (3, N'LENOVO', N'lenovo.png')
SET IDENTITY_INSERT [dbo].[Hang] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptop] ON 

SET IDENTITY_INSERT [dbo].[Laptop] OFF
GO
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([malienhe], [hoten], [email], [dienthoai], [website], [noidung], [trangthai]) VALUES (1, N'Nguyễn Văn Huỳnh', N'huynh.it.24@gmail.com', N'0365204529', N'thaygiaox.vn', N'Em chào anh! Em muốn liên hệ đặt mua Laptop MSI cho anh ẹc!', 1)
INSERT [dbo].[LienHe] ([malienhe], [hoten], [email], [dienthoai], [website], [noidung], [trangthai]) VALUES (2, N'', N'', N'', N'', N'', 1)
INSERT [dbo].[LienHe] ([malienhe], [hoten], [email], [dienthoai], [website], [noidung], [trangthai]) VALUES (3, N'', N'', N'', N'', N'', 1)
SET IDENTITY_INSERT [dbo].[LienHe] OFF
GO
SET IDENTITY_INSERT [dbo].[MetaLaptop] ON 

INSERT [dbo].[MetaLaptop] ([mameta], [keymeta], [valuemeta], [malaptop]) VALUES (1, N'Xuất sứ', N'Trung Quốc', 1)
INSERT [dbo].[MetaLaptop] ([mameta], [keymeta], [valuemeta], [malaptop]) VALUES (2, N'Trọng lượng', N'1.766 kg', 1)
INSERT [dbo].[MetaLaptop] ([mameta], [keymeta], [valuemeta], [malaptop]) VALUES (3, N'Năm ra mắt', N'2020', 1)
SET IDENTITY_INSERT [dbo].[MetaLaptop] OFF
GO
SET IDENTITY_INSERT [dbo].[NhuCau] ON 

INSERT [dbo].[NhuCau] ([manhucau], [tennhucau]) VALUES (1, N'LAPTOP Gaming')
INSERT [dbo].[NhuCau] ([manhucau], [tennhucau]) VALUES (2, N'LAPTOP Văn phòng')
INSERT [dbo].[NhuCau] ([manhucau], [tennhucau]) VALUES (3, N'LAPTOP Doanh nhân')
SET IDENTITY_INSERT [dbo].[NhuCau] OFF
GO
SET IDENTITY_INSERT [dbo].[QuangCao] ON 

INSERT [dbo].[QuangCao] ([maqc], [tenqc], [tencongty], [hinhnen], [link], [ngaybatdau], [ngayhethan], [trangthai]) VALUES (1, N'Laptop DELL', N'DELL', N'banner-dell.jpg', N'https://dell.com/', CAST(N'2021-03-22T00:00:00' AS SmallDateTime), CAST(N'2021-03-22T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[QuangCao] ([maqc], [tenqc], [tencongty], [hinhnen], [link], [ngaybatdau], [ngayhethan], [trangthai]) VALUES (2, N'Quảng cáo điện thoại ở mục tức', N'Cellphone', N'banner-cellphone.jpg', N'https://cellphones.com.vn/', CAST(N'2022-03-31T00:00:00' AS SmallDateTime), CAST(N'2022-04-10T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[QuangCao] ([maqc], [tenqc], [tencongty], [hinhnen], [link], [ngaybatdau], [ngayhethan], [trangthai]) VALUES (3, N'Quảng cáo Tiki', N'Tiki', N'quang-cao-side-tiki.png', N'https://tiki.vn/', CAST(N'2022-03-31T00:00:00' AS SmallDateTime), CAST(N'2022-04-30T00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[QuangCao] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 13/06/2022 8:37:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/06/2022 8:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/06/2022 8:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 13/06/2022 8:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 13/06/2022 8:37:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 13/06/2022 8:37:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUse__hoten__19DFD96B]  DEFAULT ('') FOR [hoten]
GO
ALTER TABLE [dbo].[TinTuc] ADD  CONSTRAINT [DF_TinTuc_luotxem]  DEFAULT ((0)) FOR [luotxem]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_TinTuc] FOREIGN KEY([matin])
REFERENCES [dbo].[TinTuc] ([matin])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_TinTuc]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([madon])
REFERENCES [dbo].[DonHang] ([madon])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Laptop] FOREIGN KEY([malaptop])
REFERENCES [dbo].[Laptop] ([malaptop])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Laptop]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Laptop] FOREIGN KEY([malaptop])
REFERENCES [dbo].[Laptop] ([malaptop])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_Laptop]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_AspNetUsers] FOREIGN KEY([makh])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_AspNetUsers]
GO
ALTER TABLE [dbo].[Laptop]  WITH CHECK ADD  CONSTRAINT [FK_Laptop_Hang] FOREIGN KEY([mahang])
REFERENCES [dbo].[Hang] ([mahang])
GO
ALTER TABLE [dbo].[Laptop] CHECK CONSTRAINT [FK_Laptop_Hang]
GO
ALTER TABLE [dbo].[Laptop]  WITH CHECK ADD  CONSTRAINT [FK_Laptop_NhuCau] FOREIGN KEY([manhucau])
REFERENCES [dbo].[NhuCau] ([manhucau])
GO
ALTER TABLE [dbo].[Laptop] CHECK CONSTRAINT [FK_Laptop_NhuCau]
GO
ALTER TABLE [dbo].[MetaLaptop]  WITH CHECK ADD  CONSTRAINT [FK_MetaLaptop_Laptop] FOREIGN KEY([malaptop])
REFERENCES [dbo].[Laptop] ([malaptop])
GO
ALTER TABLE [dbo].[MetaLaptop] CHECK CONSTRAINT [FK_MetaLaptop_Laptop]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_ChuDe] FOREIGN KEY([machude])
REFERENCES [dbo].[ChuDe] ([machude])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_ChuDe]
GO
USE [master]
GO
